<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Blogs</title>
</head>
<body>
{% include 'nav-bar.html'%}
<h2 class="author-name">Our Blog </h2>
{% for blog in blogs %}
    <div class="blog-container">
        <h2 class="blog-title">{{ blog.title }}</h2>
        <h3>Author: {{ blog.user }}</h3>
      <h4> <i>{{ blog.published_day }}</i></h4>
        <p> {{ blog.content }} </p>
    </div>
{% endfor %}
</body>
</html>
