body{
   background: whitesmoke;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.a-link:hover {
    color: #ffffff;
    text-decoration: none;
}

.blog-title {
    padding-right: 210px !important;
}

.profile-image{
    border-radius: 50%;
}

.edit-profile-btn{
    padding-left: 70px;
    padding-top: 15px;
}

.logout-btn{
    margin-left: 880px;
}

.del-btn{
    margin-left: 820px;
}
